body.scheme-midnight {
  background-color: #05090e;
  color: #fffff5;
}
body.scheme-midnight ::selection {
  background: #fffff5;
  color: #1a1c20;
  text-shadow: none;
}
body.scheme-midnight section.bg-alt,
body.scheme-midnight .testimonial {
  background-color: #27282a;
}
body.scheme-midnight a.cta-project:hover {
  border-color: #fffff5;
}
body.scheme-midnight blockquote,
body.scheme-midnight hr,
body.scheme-midnight .slider-controls button,
body.scheme-midnight a.cta-project {
  border-color: #919297;
}
body.scheme-midnight blockquote {
  border-color: #7b7d80;
}
body.scheme-midnight .top__brand,
body.scheme-midnight div.boxed p a:hover,
body.scheme-midnight .testimonial figcaption strong,
body.scheme-midnight .top__link:hover,
body.scheme-midnight .bio-text p,
body.scheme-midnight .bio-links a,
body.scheme-midnight a.cta-project:hover {
  color: #fffff5;
}
body.scheme-midnight .links a,
body.scheme-midnight .eyebrow,
body.scheme-midnight p,
body.scheme-midnight pre code,
body.scheme-midnight del,
body.scheme-midnight .slider-controls,
body.scheme-midnight .testimonial,
body.scheme-midnight .testimonial p,
body.scheme-midnight .site-footer,
body.scheme-midnight .site-footer a,
body.scheme-midnight a.cta-project {
  color: #919297;
}
body.scheme-midnight .testimonial figcaption,
body.scheme-midnight blockquote,
body.scheme-midnight blockquote p,
body.scheme-midnight blockquote a {
  color: #7b7d80;
}
body.scheme-midnight .top__cta {
  background-color: #fbfbe5;
  color: #1a1c20;
}
body.scheme-midnight .top__cta a {
  color: #1a1c20;
}
body.scheme-daylight {
  background-color: #fffff5;
  color: #1a1c20;
}
body.scheme-daylight ::selection {
  background: #1a1c20;
  color: #fffff5;
  text-shadow: none;
}
body.scheme-daylight section.bg-alt,
body.scheme-daylight .testimonial {
  background-color: #fbfbe5;
}
body.scheme-daylight a.cta-project:hover {
  border-color: #1a1c20;
}
body.scheme-daylight blockquote,
body.scheme-daylight hr,
body.scheme-daylight .slider-controls button,
body.scheme-daylight a.cta-project {
  border-color: #919297;
}
body.scheme-daylight blockquote {
  border-color: #7b7d80;
}
body.scheme-daylight .top__brand,
body.scheme-daylight div.boxed p a:hover,
body.scheme-daylight .testimonial figcaption strong,
body.scheme-daylight .top__link:hover,
body.scheme-daylight .bio-text p,
body.scheme-daylight .bio-links a,
body.scheme-daylight a.cta-project:hover {
  color: #1a1c20;
}
body.scheme-daylight .links a,
body.scheme-daylight .eyebrow,
body.scheme-daylight p,
body.scheme-daylight pre code,
body.scheme-daylight del,
body.scheme-daylight .slider-controls,
body.scheme-daylight .testimonial,
body.scheme-daylight .testimonial p,
body.scheme-daylight .site-footer,
body.scheme-daylight .site-footer a,
body.scheme-daylight a.cta-project {
  color: #919297;
}
body.scheme-daylight .testimonial figcaption,
body.scheme-daylight blockquote,
body.scheme-daylight blockquote p,
body.scheme-daylight blockquote a {
  color: #7b7d80;
}
body.scheme-daylight .top__cta {
  background-color: #27282a;
  color: #fffff5;
}
body.scheme-daylight .top__cta a {
  color: #fffff5;
}
body.scheme-ocean {
  background-color: #0b1a37;
  color: #fffff5;
}
body.scheme-ocean ::selection {
  background: #fffff5;
  color: #0b1a37;
  text-shadow: none;
}
body.scheme-ocean section.bg-alt,
body.scheme-ocean .testimonial {
  background-color: #13264b;
}
body.scheme-ocean a.cta-project:hover {
  border-color: #fffff5;
}
body.scheme-ocean blockquote,
body.scheme-ocean hr,
body.scheme-ocean .slider-controls button,
body.scheme-ocean a.cta-project {
  border-color: #949aa8;
}
body.scheme-ocean blockquote {
  border-color: #818eac;
}
body.scheme-ocean .top__brand,
body.scheme-ocean div.boxed p a:hover,
body.scheme-ocean .testimonial figcaption strong,
body.scheme-ocean .top__link:hover,
body.scheme-ocean .bio-text p,
body.scheme-ocean .bio-links a,
body.scheme-ocean a.cta-project:hover {
  color: #fffff5;
}
body.scheme-ocean .links a,
body.scheme-ocean .eyebrow,
body.scheme-ocean p,
body.scheme-ocean pre code,
body.scheme-ocean del,
body.scheme-ocean .slider-controls,
body.scheme-ocean .testimonial,
body.scheme-ocean .testimonial p,
body.scheme-ocean .site-footer,
body.scheme-ocean .site-footer a,
body.scheme-ocean a.cta-project {
  color: #949aa8;
}
body.scheme-ocean .testimonial figcaption,
body.scheme-ocean blockquote,
body.scheme-ocean blockquote p,
body.scheme-ocean blockquote a {
  color: #818eac;
}
body.scheme-ocean .top__cta {
  background-color: #fbfbe5;
  color: #0b1a37;
}
body.scheme-ocean .top__cta a {
  color: #0b1a37;
}
body.scheme-forest {
  background-color: #194f27;
  color: #fffff5;
}
body.scheme-forest ::selection {
  background: #fffff5;
  color: #194f27;
  text-shadow: none;
}
body.scheme-forest section.bg-alt,
body.scheme-forest .testimonial {
  background-color: #1e572d;
}
body.scheme-forest a.cta-project:hover {
  border-color: #fffff5;
}
body.scheme-forest blockquote,
body.scheme-forest hr,
body.scheme-forest .slider-controls button,
body.scheme-forest a.cta-project {
  border-color: #a2ad8c;
}
body.scheme-forest blockquote {
  border-color: #829263;
}
body.scheme-forest .top__brand,
body.scheme-forest div.boxed p a:hover,
body.scheme-forest .testimonial figcaption strong,
body.scheme-forest .top__link:hover,
body.scheme-forest .bio-text p,
body.scheme-forest .bio-links a,
body.scheme-forest a.cta-project:hover {
  color: #fffff5;
}
body.scheme-forest .links a,
body.scheme-forest .eyebrow,
body.scheme-forest p,
body.scheme-forest pre code,
body.scheme-forest del,
body.scheme-forest .slider-controls,
body.scheme-forest .testimonial,
body.scheme-forest .testimonial p,
body.scheme-forest .site-footer,
body.scheme-forest .site-footer a,
body.scheme-forest a.cta-project {
  color: #a2ad8c;
}
body.scheme-forest .testimonial figcaption,
body.scheme-forest blockquote,
body.scheme-forest blockquote p,
body.scheme-forest blockquote a {
  color: #829263;
}
body.scheme-forest .top__cta {
  background-color: #fbfbe5;
  color: #194f27;
}
body.scheme-forest .top__cta a {
  color: #194f27;
}
